USE [master]
GO
/****** Object:  Database [bulk_insertion]    Script Date: 1/28/2023 4:37:01 PM ******/
CREATE DATABASE [bulk_insertion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bulk_insertion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bulk_insertion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bulk_insertion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bulk_insertion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bulk_insertion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bulk_insertion]
GO
/****** Object:  Table [dbo].[ProdcutsSold]    Script Date: 1/28/2023 4:37:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdcutsSold](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](255) NULL,
	[BrandName] [varchar](255) NULL,
	[Warrenty] [varchar](255) NULL,
	[Price] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
